body {
  position: relative;
  margin: 0 auto;
  background-color: #777777;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/textured_paper.png");
}

/* Master container */

.container {
  margin: 0 auto;
  width: 100vw;
}

/* Header */

.head {
  background-color: #ffffff;
  /* width: 100vw; */
  font-family: "Georgia", Times, "Times New Roman", serif;
  border: 2px solid #cccccc;
}

.heading {
  width: 960px;
  margin: 0 auto;
}

.logo {
  width: 20%;
  background-color: #4aaaa5;
  color: white;
  padding: 5px 15px;
  text-align: center;
  float: left;
}

.logo:hover {
  background-color: slateblue;
}

.about {
  clear: both;
  padding: 25px;
}

.subContent {
  padding: 25px;
}

.leftSide {
  padding: 5px;
  width: 100%;
  /* border: 1px solid #dddddd; */
  margin: 0;
}

.rightSide {
  float: right;
  padding: 10px;
  width: 18%;
  border: 1px solid #dddddd;
  position: relative;
  bottom: 530px;
  right: 275px;
  margin: auto;
}

#social2 {
  background-color: #ffffff;
}

.icons {
  width: 58px;
  float: left;
  padding: 10px;
}

.icons img {
  width: 56px;
}

/*  */

ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
  text-align: center;
  padding: 30px 16px;
}

li a {
  clear: both;
  display: block;
  color: #777777;
  text-align: center;
  text-decoration: none;
}

.move-right {
  padding-left: 460px;
}

li a:hover {
  background-color: #111;
}

/*  */

.content {
  width: 960px;
  border: 1px solid #dddddd;
  margin: 8% auto;
  background-color: #ffffff;
  /* border: 3px solid red; */
}

#contactSocial {
  width: 40%;
  position: relative;
  left: -185px;
}

h2 {
  color: #4aaaa5;
  font-family: "Georgia", Times, "Times New Roman", serif;
}

.aLine {
  width: 100%;
  color: #cccccc;
  margin: 20px auto;
}

.cats {
  float: left;
  width: 25%;
  padding-right: 20px;
}

p {
  letter-spacing: 2px;
}

/*  */

.bLine {
  margin: 0;
  padding: 5px;
  color: #4aaaa5;
}

/* contact form */

.inputGroup {
  width: 100%;
  margin: 5px auto;
  padding-bottom: 8px;
}

.button {
  width: 100px;
  color: white;
  background-color: teal;
  padding: 5px;
}

.button:hover {
  background-color: slateblue;
}

.portext {
  width: 200px;
  background-color: teal;
  color: white;
  padding: 12px 0;
  text-align: center;
  margin: 0;
}

.imgBox {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.portImg1 {
  float: left;
  /* padding: 20px; */
}

.portext1 {
  position: relative;
  left: -200px;
  top: 140px;
  float: left;
}

.portext2 {
  position: relative;
  left: -200px;
  top: 140px;
  float: left;
}

.foot {
  width: 100vw;
  position: fixed;
  /* fix is a temp solution till i find the right way to do it */
  /* position: absolute; */
  bottom: 0;
  background-color: #666666;
  /* padding: 10px; */
  text-align: center;
  border-top: 8px solid #4aaaa5;
  color: white;
  clear: both;
}

/*  media queries  */

/* max-widths: 980px, 768px and 640px. */

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 640px) {
  .head {
    max-width: 100vw;
  }
  .heading {
    width: 100%;
  }
  .logo {
    width: fit-content;
  }
  .move-right {
    padding-left: 27%;
    /* padding-left: auto; */
  }
  .content {
    /* using background color to help see what i'm changing better */
    background-color: red;
    background-image: none;
    width: 80%;
  }
  .cats {
    width: auto;
  }
  .imgBox {
    /* margin-left: 27%; */
    /* margin-right: 1%; */
  }
  .portext1 {
    top: -60px;
    left: unset;
  }
}

/* Medium devices (tablets, 768px and up) */

/* @media (min-width: 768px) {
  .head {
    max-width: 80%;
  }
  .heading {
    width: 100px;
  }
  .move-right {
    padding-left: 0;
  }
  .content {
    background-color: blue;
    background-image: none;
    width: 80%;
  }
} */

/* Large devices (desktops, 992px and up) */

/*
@media (min-width: 980px) {
  .content {
    background-color: yellow;
    background-image: none;
    max-width: 960px;
  }
  .cats {
    width: 200pt;
  }
  .imgBox {
    width: 200px;
  }
} */
